<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Group" value=""/>
		<add key="Name" value=""/>
		<add key="Getuun" value=""/>
		<add key="Nenun" value=""/>
		<add key="Taiun" value=""/>
		<add key="SangouKaikyoku" value=""/>
		<add key="Gogyou" value=""/>
		<add key="Gotoku" value=""/>
		<add key="RefrectGouhou" value=""/>
		<add key="RefrectSangouKaikyokuHousani" value=""/>
		<add key="LastDataFile" value=""/>
	</appSettings>
</configuration>